@charset "utf-8";

/* Define overrides and additions to the template astro-viz.css file */
/* Define page layout */
.container {
  width: 800px;
  text-align: center;
}

.intro {
  text-align: left;
  margin-bottom: 12px;
}

#p5canvas {
  width: 800;
  height: 700;
  position: relative;
  padding: 5px 0 5px 0;
}