@charset "utf-8";

/* Define overrides and additions to the template astro-viz.css file */
/* Define page layout */
.container {
  width: 1000px;
  text-align: center;
}

.intro {
  text-align: left;
  margin-bottom: 12px;
}

#p5canvas {
  /*  width: 1000px;
  height: 600px; */
  margin: auto;
}

div.buttons {
  padding: 12px 0 12px 0;
}