@charset "utf-8";

/* Define overrides and additions to the template astro-viz.css file */
/* Define page layout */
.container {
  width: 800px;
}

/* img {
  width: 100%;
  margin: 0 auto;
} */
/* Outer wrapper */
.row {
  background: #edc7b7;
  margin: 0;
  padding: 7px 0 7px 0;
}

.column {
  float: left;
  padding: 0;
  margin: 0;
}

.left {
  margin-left: 0px;
  width: 175px;
  height: 700px;
}

.right {
  margin-right: 0px;
  width: 625px;
  height: 700px;
}

/* Clear float after columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

#p5canvas {
  width: 600;
  height: 700;
  style: "position: relative";
}

.btn-group button {
  float: left;
}

.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

/* Define left column nav buttons */
p.btn-header {
  background: #bab2b5;
  margin: 0;
  padding: 11px 0 11px 16px;
}

.navbtn {
  border: none;
  background-color: #eee2dc;
  padding: 11px 0 11px 0;
  width: 175px;
  font-size: 100%;
  border-radius: 0;
  cursor: pointer;
  outline: none;
}

.navbtn:not(.chosen):hover {
  background-color: #808fa3;
}

.chosen {
  outline: none;
  background-color: #496686;
}
