@charset "utf-8";

/* Define overrides and additions to the template astro-viz.css file */
/* Define page layout */
.container {
  width: 800px;
  text-align: center;
}

.intro {
  text-align: left;
  margin-bottom: 12px;
}

#p5canvas {
  width: 800;
  height: 700;
  position: relative;
  padding: 15px 0 15px 0;
}

.navbtn {
  border: none;
  background-color: #eee2dc;
  padding: 10px;
  width: 151px;
  line-height: 30px;
  vertical-align: middle;
  font-size: 120%;
  border-radius: 7px;
  cursor: pointer;
  outline: none;
}

.navbtn:not(.chosen):hover {
  background-color: #808fa3;
}

.chosen {
  outline: none;
  background-color: #496686;
}

div.buttons {
  padding: 12px 0 12px 0;
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 0px 0;
  background-color: transparent;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  background: #ff3011;
  border: 1px solid #000000;
  width: 100%;
  height: 8px;
  cursor: pointer;
}

input[type=range]::-webkit-slider-thumb {
  margin-top: -26px;
  width: 15px;
  height: 60px;
  background: #444444;
  border: 3px solid #000000;
  border-radius: 15px;
  cursor: pointer;
  -webkit-appearance: none;
}

input[type=range]::-moz-range-track {
  background: #ff3011;
  border: 1px solid #000000;
  width: 100%;
  height: 8px;
  cursor: pointer;
}

input[type=range]::-moz-range-thumb {
  width: 15px;
  height: 60px;
  background: #444444;
  border: 3px solid #000000;
  border-radius: 15px;
  cursor: pointer;
}

input[type=range]::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 1px 0;
  color: transparent;
  width: 100%;
  height: 8px;
  cursor: pointer;
}
input[type=range]::-ms-fill-lower {
  background: #ff3011;
  border: 2px solid #000000;
}
input[type=range]::-ms-fill-upper {
  background: #ff3011;
  border: 2px solid #000000;
}
input[type=range]::-ms-thumb {
  width: 15px;
  height: 60px;
  background: #444444;
  border: 3px solid #000000;
  border-radius: 15px;
  cursor: pointer;
  margin-top: 0px;
  /*Needed to keep the Edge thumb centred*/
}
input[type=range]:focus::-ms-fill-lower {
  background: #ff3011;
}
input[type=range]:focus::-ms-fill-upper {
  background: #ff3011;
}
