@charset "utf-8";

/* Define overrides and additions to the template astro-viz.css file */
/* Define page layout */
.container {
  width: 800px;
  text-align: center;
}

.intro {
  text-align: left;
  margin-bottom: 12px;
}

#p5canvas {
  width: 500;
  height: 500;
  style: "position: relative";
}

.navbtn {
  border: none;
  background-color: #eee2dc;
  padding: 14px;
  width: 150px;
  font-size: 100%;
  border-radius: 7px;
  cursor: pointer;
  outline: none;
}

.navbtn:not(.chosen):hover {
  background-color: #808fa3;
}

.chosen {
  outline: none;
  background-color: #496686;
}

div.buttons {
  padding: 12px 0 12px 0;
}
