/* Define overrides and additions to the template astro-viz.css file */
/* Define page layout */
.container {
  width: 1000px;
  text-align: center;
}

.intro {
  text-align: left;
  margin-bottom: 7px;
}

.simulation {
  width: 986px;
  padding: 0;
  margin: 0 7px 0 7px;
}

#p5canvas {
  width: 986px;
  height: 900px;
  position: relative;
  padding: 0;
}

/* Define 3-column layout */
/* Outer wrapper */
.row {
  background: #edc7b7;
  margin: 0;
  padding: 7px 0 7px 0;
}

.column {
  float: left;
  padding: 0;
  margin: 0;
}

.columnc {
  float: left;
  padding-left: 7px;
}

.left {
  margin-left: 7px;
  width: 143px;
  height: 495px;
}

.right {
  margin-right: 7px;
  width: 867px;
  height: 495px;
}

/* Clear float after columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

input[type="range"] {
  margin: auto;
  -webkit-appearance: none;
  position: relative;
  overflow: hidden;
  height: 40px;
  width: 300px;
  cursor: pointer;
  border-radius: 0;
  /* iOS */
}

::-webkit-slider-runnable-track {
  /* Background color of slider track */
  background: #444;
}

::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  /* 1 */
  height: 40px;
  background: #fff;
  box-shadow: -200px 0 0 200px #aaa;
  /* 2 */
  border: 2px solid #000;
  /* 1 */
}

::-moz-range-track {
  height: 40px;
  background: #444;
}

::-moz-range-thumb {
  background: #fff;
  height: 40px;
  width: 20px;
  border: 2px solid #000;
  border-radius: 0 !important;
  box-shadow: -200px 0 0 200px #aaa;
  box-sizing: border-box;
}
