body {
  font: 100% Arial, Helvetica, sans-serif;
  background: #111111;
  text-align: center;
  color: #000000;
}

/* Define page layout */
.container {
  width: 900px;
  background: #edc7b7;
  margin: 0 auto;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
}

.page-title {
  color: #eee2dc;
  margin: 0;
  padding-bottom: 13px;
}

.highlight-color {
  background-color: #edc7b7;
}

.highlight-color2 {
  background-color: #eee2dc;
}

.highlight-color3 {
  background-color: #123c69;
}

/* Define image and title layout */
.header {
  padding: 5px 5px 0 5px;
  margin: 0;
  text-align: center;
  position: relative;
}

.title-over-image {
  position: absolute;
  bottom: 10px;
  left: 22px;
}

/* Define subheader layout */
.subhead {
  text-align: left;
  padding-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.subhead-text {
  padding-top: 5px;
  padding-bottom: 10px;
  padding-left: 12px;
  margin: 0;
}

/* Define 3-column format */
.column-left {
  text-align: left;
  padding: 0;
  margin-left: 5px;
  float: left;
  width: 230px;
  height: 805px;
}

.column-center {
  text-align: left;
  padding: 0;
  margin-left: 5px;
  float: left;
  width: 230px;
  border-radius: 7px 7px 0 0;
  height: 805px;
}

.column-right {
  text-align: left;
  padding: 0px;
  margin: 0 5px 0 5px;
  float: left;
  width: 420px;
  height: 805px;
}

/* Clear float after columns */
.column-span:after {
  content: "";
  display: table;
  clear: both;
}

/* Define style inside columns */
li.link-heading {
  background-color: #bab2b5;
  padding: 16px;
  border-radius: 7px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Link styles for left, center, and right columns */
li a {
  display: block;
  padding: 16px 0 16px 25px;
  text-decoration: none;
  color: #000;
}

li.left a {
  padding: 15px 0 15px 25px;
  margin: 2px 5px 2px 10px;
  border-radius: 7px;
}

li.center a {
  padding: 10px 0 10px 25px;
  margin: 2px 5px 2px 10px;
  border-radius: 5px;
}

li.right a {
  padding: 12px 0 12px 25px;
  margin: 2px 5px 2px 10px;
  border-radius: 5px;
}

li a:hover {
  background-color: #ac3b61;
  color: white;
}

#apod-image {
  display: block;
  max-width: 92%;
  max-height: 40%;
  margin: 0 5px 0 0;
  padding: 10px;
}

#apod-title {
  text-align: center;
  margin: 0 5px 15px 0;
  padding: 12px 0 12px 0;
  min-height: 18px;
}

.footer {
  padding: 0;
  height: 20px;
}
