@charset "utf-8";
body {
	font: 100% Arial, Helvetica, sans-serif;
	background: #123c69;
	text-align: left;
	color: #000;
}

/* Define page colors
	blue = #123c69
	wine = #ac3b61
	tan  = #edc7b7
	gray = #bab2B5
	pale = #eee2dc
*/

/* Define page layout */
.container {
  width: 800px;
  background: #fff;
	padding: 15px;
  margin: 0 auto;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
}

.indented {
	padding: 15px 15px 0 0;
	margin: 0;
}

.indent-left {
	padding: 15px 0 15px 45px;
	margin: 0;
}

.table-labels {
	width: 250px;
	text-align: right;
}

.button-cell {
	text-align: center;
}

.warn {
	font-size: 80%;
	color: red;
	text-align: right;
}

h1, h4 {
	padding: 0;
	margin: 0;
}

h2 {
	padding-bottom: 0;
	margin: 0;
}

p, h4 {
	padding: 15px 0 0 15px;
	margin: 0;
}

ul {
	padding: 5px 0 5px 45px;
	margin: 0;
}
