body {
  font: 100% Arial, Helvetica, sans-serif;
  background: #888;
  text-align: left;
  color: #000;
  padding: 15px;
  margin: 0;
}

/* Define page layout */
.container {
  width: 800px;
  background: #edc7b7;
  padding: 0;
  margin: 0 auto;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
}

.collapsible {
  background-color: #eee2dc;
  color: #000;
  cursor: pointer;
  padding: 6px 0 6px 12px;
  margin: 3px 0 3px 0;
  width: 800px;
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-left: 7px solid #123c69;
  text-align: left;
  outline: none;
  font-size: 18px;
}

.collapsible:before {
  content: '\2BC8';
  /* Unicode character for up carat (^) */
  font-size: 14px;
  color: #000;
  float: left;
  margin-left: 0;
  margin-right: 8px;
}

.active:before {
  content: '\2BC6';
  /* Unicode character for down carat (v) */
}

.toggleDiv {
  display: none;
  overflow: hidden;
  padding: 12px 24px 12px 16px;
  margin: 3px 0 3px 7px;
  background-color: #eee2dc;
}

.indented {
  padding: 0;
  margin: 0;
}

.indent-left {
  padding: 15px 0 15px 45px;
  margin: 0;
}

.table-labels {
  width: 250px;
  text-align: right;
}

.button-cell {
  text-align: center;
}

.warn {
  font-size: 80%;
  color: red;
  text-align: right;
}

h1 {
  padding: 7px 0 7px 15px;
  margin: 0;
  color: #123c69;
  background: #edc7b7;
}

p {
  padding: 5px 0 5px 0;
  margin: 0;
}

ul {
  padding: 5px 0 5px 45px;
  margin: 0;
}

li {
  padding: 2px 0 2px 0;
}

a {
  /* text-decoration: none; */
  color: #007bff;
}

.footer {
  background-color: #edc7b7;
  margin: 0;
  padding: 0;
}

.pfooter {
  font-size: 75%;
  margin: 0;
  padding: 7px 0 7px 10px;
  text-align: left;
}
